@model List<OzerBlog.Models.Menu>
@using OzerBlog.Extensions
<h2>Kategoriler</h2>

@foreach (var item in Model)
{
    <div>
        <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        @Html.ActionLink(item.title, "Index", "Blog", new { title = item.link.Replace(" ", "-") }, null)
    </div>

}
<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Tüm Kategoriler", "Index", "Blog", new { title = "0" }, null)
</div>



<h2>Sayfalar</h2>

<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Blog", "Index", "Blog", null, null)
</div>

<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Hakkımda", "Index", "About", null, null)
</div>

<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Projeler", "Index", "Project", null, null)
</div>

<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Sosyal Ağ", "Index", "SocialNetwork", null, null)
</div>

<div>
    <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
    @Html.ActionLink("Admin", "Index", "Admin", null, null)
</div>

