@model List<OzerBlog.Models.Menu>
@using OzerBlog.Extensions
<h2>Kategoriler</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td width="10%">
                <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
            </td>
            <td width="90%">
                @*@Html.ActionLink(item.title, "../Blog/Index/", new { labelId = item.link })*@
                @Html.EncodedLink(item.title, "Index", "Blog", new { id = item.link }, null)
            </td>
        </tr>
    }
    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @*<a href="/Blog/Index/@item.link">@item.title</a>*@
            @Html.EncodedLink("Tüm Kategoriler", "Index", "Blog", new { id = 0 }, null)
        </td>
    </tr>
</table>

<h2>Sayfalar</h2>
<table>
    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @Html.EncodedLink("Blog", "Index", "Blog", null, null)
        </td>
    </tr>

    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @Html.EncodedLink("Hakkımda", "Index", "About", null, null)
        </td>
    </tr>

    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @Html.EncodedLink("Projeler", "Index", "Project", null, null)
        </td>
    </tr>

    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @Html.EncodedLink("Sosyal Ağ", "Index", "SocialNetwork", null, null)
        </td>
    </tr>

    <tr>
        <td width="10%">
            <img src="~/Content/img/Folder-Classic-Yellow-icon.png" />
        </td>
        <td width="90%">
            @Html.EncodedLink("Admin", "Index", "Admin", null, null)
        </td>
    </tr>
</table>
