@model BlogDAL.DAL.Posts
<script src="~/AngularJSControllers/SingleBlog.js"></script>
<html ng-app="mySingleBlog">
<body ng-controller="SingleBlogController" ng-init="loadComments(@Model.ID);">

    <div>
        <center>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ab35bac69665fe"></script>
        </center>
    </div>
    <div class="card-box" style="margin-top:15px;">
        <h2>@Model.title</h2>
    </div>
    <div class="card-box" style="margin-top:15px;">
        <div>
            @Html.Raw(Model.content)
        </div>



        <table style="width:100%">
            <tr>
                <td>
                    <label class="label-warning" style="font-size:15px;border-radius:3px;padding-left:5px;padding-right:5px;color:white;">@Model.date.ToString("dd.MM.yyyy")</label>

                    @foreach (var label in Model.Label)
                    {

                        <label class="label-info" style="font-size:15px;border-radius:3px;padding-left:5px;padding-right:5px;color:white;">@label.Label</label>

                    }
                </td>
            </tr>

        </table>
    </div>

    <div class="card-box" style="margin-top:15px;">
        <h2>Yorum Ekle</h2>
    </div>

    <div class="card-box" style="margin-top:15px;">

        <input ng-model="name" placeholder="Adınız" /><br />
        <input ng-model="email" placeholder="E-Mail Adresiniz" style="margin-top:10px" /><br />
        <textarea ng-model="comment" placeholder="Yorumunuz [Zorunlu]" style="margin-top:10px;width:50%;min-width:240px"></textarea><br />

        <simple-captcha valid="captchaValid"></simple-captcha>

        <input ng-click="insertComment(name,email,comment,@Model.ID);" ng-disabled="!captchaValid" type="button" value="Ekle" />

    </div>

    <div style="background-color:#ddd;padding:10px;margin-top:5px" ng-repeat="comment in commentList">
        <label>{{comment.Name}}</label><br />
        <label>{{comment.Contact}}</label><br />
        <label>{{comment.Comment}}</label>

    </div>


</body>
</html>

